body{
background-color: skyblue;
}

img{
	max-width: 100%;
  height: auto;
}

p{
	font-weight: bolder;
}

nav{
    background-color: green;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

#navMenu {
    display: none;
  }


.logo{
	font-size: 10px;
	color: white;
}

.hamburger {
 
  cursor: pointer;




  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    margin-right: 20px;
  }
  
  ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  ul li a:hover {
    color: lightgreen;
  }
  
  .checkbtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  
  @media (max-width: 768px) {
    .checkbtn {
      display: block;
      order: 1;
      margin-right: 20px;
    }
  
    ul {
      position: fixed;
      top: 80px;
      right: -100%;
      background-color: green;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
    
  
    ul li {
      margin: 20px 0;
    }
  
    ul li a {
      font-size: 20px;
    }
  
    #check:checked ~ ul {
      rightt: 0;
    }/*for smaller devices like phones*/
  @media(max-width: 1024px){
body{
  background-color: lightgreen;

  img{max-width: 100%;
      height: auto;

  }
}



/* for lager devices  like laptops/destops*/

@media( max-width: 1024px){
body{background-color: lightblue;
img{width: 500px;
  height: 500px;


}
}

}




  }
